:root {
  --yellow: #f9d806;
  --light-yellow: #ffee80;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.services .heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding-bottom: 20px;
}
.services {
  padding: 2rem 9%;
  text-transform: uppercase;
  font-size: small;
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  font-size: 65%;
}

.services .box-container .box {
  padding: 2rem;
  border-radius: 0.5rem;

  border: var(--border);
  text-align: center;
}

.services .box-container .box i {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  background: var(--yellow);
  color: var(--black);
}

.services .box-container .box h3 {
  font-size: 1.2rem;
  color: var(--black);
}

.services .box-container .box p {
  line-height: 1.8;
  padding: 1rem 0;
  font-size: 12px;
  color: black;
}

.services .box-container .box:hover {
  box-shadow: var(--box-shadow);
}

.services .box-container .box:hover h3 {
  color: gray;
}

.services .box-container .box:hover p {
  color: gray;
}
